* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background: url(https://woodstockcreation.com/storage/2019/09/bg-nv.jpg);
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.5;
}
a {
    text-decoration: none !important;
}
li {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $accent; 
}

.topbtn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all .5s;
  z-index: 99;
  svg {
    font-size: 24px;
    color: #fff;
  }
  &:focus {
    outline:none;
  }
  &:hover svg{
    color: $accent;
  }
}