* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background: url(https://woodstockcreation.com/storage/2019/09/bg-nv.jpg);
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.5;
}
a {
    text-decoration: none !important;
}
li {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $accent; 
  }