.footer ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon i {
    color: #fff;
    font-size: 24px;
    transition: all .5s;
    &:hover {
        color: $accent;
        transform: rotate(360deg);
    }
}

