// footer
.footer ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon {    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    &:hover svg{
        color: $accent;
        transform: rotate(360deg);
    }
    svg {
        color: #fff;
        font-size: 24px;
        transition: all .5s;
    }
}

