.navClass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  background: -webkit-linear-gradient(bottom,rgba(50, 50, 50,.7),transparent);
  background: -o-linear-gradient(bottom,rgba(50, 50, 50,.7),transparent);
  background: -moz-linear-gradient(bottom,rgba(50, 50, 50,.7),transparent);
  background: linear-gradient(to bottom,rgba(50, 50, 50,.7),transparent);
}

.navbar-nav .nav-link {
  color: #fff;
  transition: all .5s;
  &:hover {
    color: $accent;
  }
}

.navbar-toggler {
  border: 1px solid #fff;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(244,244,244)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.logo {
  background: url('assets/image/logo.png') no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 200px;
  height: 75px;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}